Checks:
  - '*'
  - '-altera-unroll-loops'
  - '-boost-use-ranges'
  - '-clang-diagnostic-note'
  - '-clang-diagnostic-error'
  - '-cppcoreguidelines-avoid-do-while'
  - '-cppcoreguidelines-pro-type-union-access'
  - '-cppcoreguidelines-pro-type-vararg'
  - '-fuchsia-default-arguments-calls'
  - '-fuchsia-default-arguments-declarations'
  - '-fuchsia-overloaded-operator'
  - '-google-readability-todo'
  - '-hicpp-uppercase-literal-suffix'
  - '-hicpp-vararg'
  - '-llvmlibc-*'
  - '-llvm-header-guard'
  - '-misc-no-recursion'
  - '-modernize-use-trailing-return-type'
  - '-readability-*'

FormatStyle: 'file'
HeaderFilterRegex: '^(?!.*vulkan-renderer/build).*'

CheckOptions:
  - key: 'bugprone-argument-comment.CommentBoolLiterals'
    value: '0'
  - key: 'bugprone-assert-side-effect.AssertMacros'
    value: 'assert'
  - key: 'bugprone-dangling-handle.HandleClasses'
    value: 'std::basic_string_view;std::experimental::basic_string_view'
  - key: 'bugprone-dynamic-static-initializers.HeaderFileExtensions'
    value: ',h,hh,hpp,hxx'
  - key: 'bugprone-suspicious-string-compare.WarnOnImplicitComparison'
    value: '1'
  - key: 'cppcoreguidelines-explicit-virtual-functions.IgnoreDestructors'
    value: '1'
  - key: 'cppcoreguidelines-no-malloc.Allocations'
    value: '::malloc;::calloc'
  - key: 'google-readability-function-size.StatementThreshold'
    value: '800'
  - key: 'readability-identifier-naming.FunctionCase'
    value: 'lower_case'
  - key: 'readability-static-accessed-through-instance.NameSpecifierNestingThreshold'
    value: '3'
