os: linux
language: python
python: "3.7"
dist: xenial
compiler:
  - gcc
install:
# Install conan
  - pip install conan
# Automatic detection of your arch, compiler, etc.
  - conan user
script:
# Download dependencies and build project
  - conan remote add bincrafters https://api.bintray.com/conan/bincrafters/public-conan
  - conan install conanfile.py
# Use CMake to build vulkan-renderer.
  - cmake --build buildfolder --target inexor-vulkan-renderer
